.page-container {
    
}

.item-container-container {

}

.item-container-card-container {
    z-index: 1;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.add-to-cart-button-container {
    display: flex;
    justify-content: flex-start;
    padding: 200px 0 100px 200px;
    align-items: center;
}

.add-to-cart-button-alert-container {
    z-index: 10;
    position: fixed;
    top: 75px;
    left: 5px;
}

