.alert {
    padding: 15px 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    max-width: 300px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.alert-icon {
    font-size: 30px;
    margin-right: 10px;
}

.alert-icon-success {
    color: #28a745;
}

.alert-icon-error {
    color: #dc3545;
}

.alert-message {
    font-size: 14px;
    flex-grow: 1;
    margin-right: 20px;
}

.alert-close-button {
    background-color: inherit;
    border: none;
    font-size: 20px;
    cursor: pointer;
    line-height: 20px;
    position: absolute;
    top: 2px;
    right: 2px;
}

.alert-close-button:hover {
    border-radius: 20px;
    background-color: rgba(26, 26, 26, 0.15);
}

.alert-progress-bar {
    height: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: width 0.1s linear;
    position: absolute;
    bottom: 0;
    left: 0;
}
