.parent-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

.parent-key {
    font-weight: bold;
    margin-right: 8px;
    margin-bottom: 8px;
    color: #333;
}

.child-container {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    width: 98%;
}

.child-key {
    color: #333;
    font-weight: 550;
    font-size: 0.8em;
}

.child-value {
    flex: 1;
    color: #555;
    font-size: 0.8em;
}
